/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
    overflow-y: scroll;
}

h2 {
    padding-top: 30px;
}

label {
  margin-bottom: 3px;
}
blockquote {
  font-size: 1.1em;
  margin-top: -5px;
  margin-bottom: 30px;
}

a.navbar-brand {
  color: white !important;
  font-size: 23px;

}

.img-hover:hover {
    opacity: 0.8;
}

.img-portfolio {
        margin-bottom: 30px;
}

.img-responsive {
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-block {
  margin-bottom: 10px;
}

.btn-default {
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-brand {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.navbar-brand>img {
  padding-right: 10px;
}

.aboutus {
  height: 320px;
}

.about-name {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}

.checkbox-inline {
  margin-left: 0px !important;
}

.testimonials {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Image Carousel */

header.carousel {
    height: 63%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color: black;
    opacity: 0.9;
}

a.slide-link {
  text-decoration: none;
  color: white;
}

/* Back to Top Arrow */

a.back-to-top {
	display: none;
	width: 48px;
	height: 48px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 15px;
	bottom: 12px;
	background: #18BC9C url("../img/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
  box-shadow: 0 0 3px #ccc;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 0px;
    width: 100%;
}

footer .col-lg-4 {
    text-align: right;
}

/* Responsive Styles */

@media(max-width:1366px) {
  header.carousel {
      height: 54%;
  }
  p.lead {
    font-size: 1.4em
  }
}

@media(max-width:991px) {
  header.carousel {
      height: 42%;
  }
  .page-header {
      padding-left: 0;
      text-align: center;
  }

  .aboutus {
    height: auto;
  }

  .navbar-text {
    display: none;
  }

  footer .col-lg-8 {
    text-align: center;
  }

  footer .col-lg-4 {
    text-align: center;
  }

  blockquote {
    margin-top: 15px;

  }
}

@media(max-width:767px) {
  .navbar-text {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  p.lead {
    font-size: 1.2em;
  }

}
@media(max-width:599px) {

  p.lead {
      font-size: 1.1em;
  }

  .img-portfolio {
      margin-bottom: 15px;
  }

  .col-md-4.first label {
    display: block;
    width: 99px;
    float: left;
  }

  .col-md-4.second label {
    display: block;
    width: 99px;
    float: left;
  }

  .checkbox-inline {
    width: 100%;
  }

  .dropdown-menu .divider {
      background-color: #e5e5e5 !important;
  }

  header.carousel {
      height: 70%;
  }

@media(max-width:480px) {

  .navbar-text {
    display: none;
  }

@media(max-width:320px) {

  header.carousel {
      height: 82%;
  }


}

/* Phone landscape fix */

@media(max-device-width: 960px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

  header.carousel {
      height: 100% !important;
      width: 100% !important;
  }

}

/*  MS Viewport */

@-ms-viewport{
      width: device-width;
    }

}
